* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #112650;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 8fr 26fr 13fr;
}

/* Sidebar */
.sidebar {
  z-index: 9;
  justify-self: right;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 450px;
}
/* Header */
.sidebar header {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar h1.brand {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #112650;
  margin-left: 10px;
}

/* List Sidebar */
.sidebar ul {
  flex-grow: 1;
}
.sidebar ul li {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar ul li.active {
  background: linear-gradient(
    90deg,
    rgba(175, 127, 203, 0.29) 15%,
    rgba(130, 59, 112, 0) 100%,
    #af7fcb 100%
  );
}

.sidebar .iconContainer {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar ul li h2 {
  display: inline-block;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: normal;
  opacity: 0.7;
}

.sidebar ul li.active h2 {
  font-weight: 600;
  opacity: 0.6;
  color: #9262bc;
}

.sidebar ul li.active svg path {
  stroke: #9262bc;
}

/* download */
.sidebar .download {
  padding: 25px;
  /* height: 170px; */
}

.sidebar .download .container {
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(265.1deg, #ae7eca 28.04%, #a0a3e9 161.32%);
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .download .container p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 15px 0;

  color: #ffffff;
}

.sidebar .download .container button {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;

  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #112650;
}

/* Profile */
div.profile {
  padding: 20px 45px 25px;
  position: relative;
  height: 100%;
  max-width: 400px;
}

.profile > .container {
  height: 100%;
}

.profileContainer {
  height: 55%;
}

.profile .profileHeader {
  display: flex;
  justify-content: space-between;
}

.profile .profileHeader > h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

/* Profile Store Img */
.profile .profileStore {
  margin-top: 25px;
  text-align: center;
}

.profile .storeImg {
  height: 100px;
}

.profileStore .container {
  position: relative;
  display: inline-block;
  height: 100%;
}

.profileStore .container div.badge {
  position: absolute;
  right: 0px;
  height: 35%;
  width: 35%;
  padding: 7px;
  border-radius: 12px;
}

.profileStore .container div.badge {
  height: 32%;
}

.profile .storeTitle {
  text-align: center;
  margin-top: 10px;
}

.profile .storeTitle p {
  color: #888f9d;
  font-size: 14px;
}

/* profile rates */
.profile .storeRates {
  background-color: #41c8e625;
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 10px;

  display: flex;
  justify-content: space-evenly;
}

.profile .vector {
  display: block;
  border-left: 1px solid #99c3c3;
  opacity: 0.5;
}

.profileStore > .storeRates > div {
  display: flex;
  align-items: center;
}

.storeRates h2 {
  font-size: 18px;
  text-align: left;
  line-height: 22px;
}

.storeRates pre {
  font-size: 12px;
  color: #888f9d;
}

.profile .storeRates i {
  background-color: #fff;
  display: inline-flex;
  padding: 6px;
  border-radius: 8px;
  margin-right: 10px;
  box-shadow: 0 10px 10px #00000005;
}

.profile .storeRates i svg path {
  stroke: #41c8e6;
}

/* reputation */
.profile .profileReputation {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile .profileReputation h3 {
  margin-bottom: 20px;
}

.profile .profileReputation .badge {
  height: 45px;
  width: 45px;
}

.profile .profileReputation .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .profileReputation .progressContainer {
  flex-grow: 1;
  margin-left: 15px;
}

.profile .profileReputation .progressTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  line-height: 15px;
}
.profile .progressTitleContainer pre {
  font-size: 14px;
}

.profile .progress {
  height: 4px;
  width: 100%;
  background-color: #1e808425;
  border-radius: 5px;
}

.profile .progress .progress-bar {
  height: 4px;
  width: 86%;
  background-color: #73d9f2;
  border-radius: 5px;
}
.profile .profileReputation > img {
  display: block;
  max-height: 180px;
  text-align: center;
  margin: 0 auto;
}

/* Others */
button.optionButton {
  border: none;
  background-color: unset;
}

button.optionButton img {
  transform: scale(0.9);
}

div.badge {
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  display: inline-flex;
  box-shadow: 0px 10px 30px #00000020;
  align-items: center;
  justify-content: center;
}

div.badge img {
  height: 100%;
}

.menuShow {
  transform: translateX(0) !important;
}

.sidebar {
  transition: transform 0.3s ease;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 1px solid #112650;
  display: none;
}

.menuBtn {
  display: none;
}

.center {
  min-height: 80vh;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main */
main {
  background-color: #f2f3f9;
  padding: 20px;
}

main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -5px;
}

main header .search {
  background-color: #fff;
  border-radius: 50px;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  margin: 0 5px;
  box-shadow: 0 5px 10px #00000005;
}

main header .search input {
  background-color: #fff;
  line-height: 25px;
  font-size: 14px;
  outline: none;
  border: none;
  width: 230px;
  margin-left: 10px;
}

main header .bell {
  width: 40px;
  border: none;
  background-color: unset;
}

main header .bell svg {
  margin-bottom: -5px;
  margin-left: -5px;
}

/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
@media (max-width: 450px) {
  .App {
    display: block;
    height: 100%;
  }
  .sidebar {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    transform: translateX(-100vw);
  }

  .sidebar .download {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* MAIN */
  .menuBtn {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    padding: 9px;
    border: none;
    background-color: unset;
  }

  .menuBtn svg path {
    stroke: #112650;
  }

  main {
    padding: 15px;
  }

  main header > div {
    display: flex;
    flex-grow: 1;
  }

  main header .search {
    flex-grow: 1;
  }

  main header .search input {
    line-height: 25px;
    font-size: 14px;
    width: 170px;
    flex-grow: 1;
  }

  /* Profile */
  .profile {
    height: auto !important;
    padding: 30px !important;
  }

  .profile .profileHeader {
    margin-bottom: 30px;
  }

  .profile .profileReputation > h3 {
    margin-top: 20px;
  }

  .profile .profileReputation > img {
    margin-top: 20px;
  }

  .profile .profileStore .storeImg {
    height: 150px;
    /* margin-top: 20px; */
  }
}
