html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  max-width: 1440px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #112650;
}

.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 8fr 26fr 13fr;
}

/* Sidebar */
.sidebar {
  z-index: 9;
  justify-self: right;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 450px;
}
/* Header */
.sidebar header {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar h1.brand {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #112650;
  margin-left: 10px;
}

/* List Sidebar */
.sidebar ul {
  flex-grow: 1;
}
.sidebar ul li {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar ul li.active {
  background: linear-gradient(
    90deg,
    rgba(175, 127, 203, 0.29) 15%,
    rgba(130, 59, 112, 0) 100%,
    #af7fcb 100%
  );
}

.sidebar .iconContainer {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar ul li h2 {
  display: inline-block;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  font-weight: normal;
  opacity: 0.7;
}

.sidebar ul li.active h2 {
  font-weight: 600;
  opacity: 0.6;
  color: #9262bc;
}

.sidebar ul li.active svg path {
  stroke: #9262bc;
}

/* download */
.sidebar .download {
  padding: 25px;
  /* height: 170px; */
}

.sidebar .download .container {
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(265.1deg, #ae7eca 28.04%, #a0a3e9 161.32%);
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .download .container p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin: 15px 0;

  color: #ffffff;
}

.sidebar .download .container button {
  background-color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;

  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #112650;
}

/* Profile */
div.profile {
  padding: 20px 45px 25px;
  position: relative;
  height: 100%;
  max-width: 400px;
}

.profile > .container {
  height: 100%;
}

.profileContainer {
  height: 55%;
}

.profile .profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile .profileHeader > h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

/* Profile Store Img */
.profile .profileStore {
  margin-top: 25px;
  text-align: center;
}

.profile .storeImg {
  height: 100px;
}

.profileStore .container {
  position: relative;
  display: inline-block;
  height: 100%;
}

.profileStore .container div.badge {
  position: absolute;
  right: 0px;
  height: 35%;
  width: 35%;
  padding: 7px;
  border-radius: 12px;
}

.profileStore .container div.badge {
  height: 32%;
}

.profile .storeTitle {
  text-align: center;
  margin-top: 10px;
}

.profile .storeTitle p {
  color: #888f9d;
  font-size: 14px;
}

/* profile rates */
.profile .storeRates {
  background-color: #41c8e625;
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 10px;

  display: flex;
  justify-content: space-evenly;
}

.profile .vector {
  display: block;
  border-left: 1px solid #99c3c3;
  opacity: 0.5;
}

.profileStore > .storeRates > div {
  display: flex;
  align-items: center;
}

.storeRates h2 {
  font-size: 18px;
  text-align: left;
  line-height: 22px;
}

.storeRates pre {
  font-size: 12px;
  color: #888f9d;
}

.profile .storeRates i {
  background-color: #fff;
  display: inline-flex;
  padding: 6px;
  border-radius: 8px;
  margin-right: 10px;
  box-shadow: 0 10px 10px #00000005;
}

.profile .storeRates i svg path {
  stroke: #41c8e6;
}

/* reputation */
.profile .profileReputation {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile .profileReputation h3 {
  margin-bottom: 20px;
}

.profile .profileReputation .badge {
  height: 45px;
  width: 45px;
}

.profile .profileReputation .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile .profileReputation .progressContainer {
  flex-grow: 1;
  margin-left: 15px;
}

.profile .profileReputation .progressTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  line-height: 15px;
}
.profile .progressTitleContainer pre {
  font-size: 14px;
}

.profile .progress {
  height: 4px;
  width: 100%;
  background-color: #1e808425;
  border-radius: 5px;
}

.profile .progress .progress-bar {
  height: 4px;
  width: 86%;
  background-color: #73d9f2;
  border-radius: 5px;
}
.profile .profileReputation > img {
  display: block;
  max-height: 180px;
  text-align: center;
  margin: 0 auto;
}

/* Others */
button.optionButton {
  border: none;
  background-color: unset;
}

div.badge {
  padding: 10px;
  background-color: #fff;
  border-radius: 15px;
  display: inline-flex;
  box-shadow: 0px 10px 30px #00000020;
  align-items: center;
  justify-content: center;
}

div.badge img {
  height: 100%;
}

.menuShow {
  transform: translateX(0) !important;
}

.sidebar {
  transition: transform 0.3s ease;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: 1px solid #112650;
  display: none;
}

.menuBtn {
  display: none;
}

.center {
  min-height: 80vh;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green {
  color: #33a429;
}

/* Main */
main {
  background-color: #f2f3f9;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -5px;
}

main header .search {
  background-color: #fff;
  border-radius: 50px;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  margin: 0 5px;
  box-shadow: 0 5px 10px #00000005;
}

main header .search input {
  background-color: #fff;
  line-height: 24px;
  font-size: 14px;
  outline: none;
  border: none;
  width: 230px;
  margin-left: 10px;
}

main header .bell {
  width: 40px;
  border: none;
  background-color: unset;
}

main header .bell svg {
  margin-bottom: -5px;
  margin-left: -5px;
}

/* Main */
main section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 600px;
  /* background-color: pink; */
}

main div.row {
  display: flex;
}

main div.row:first-child {
  flex: 55%;
}

main div.row:last-child {
  flex: 45%;
  display: flex;
  gap: 15px;
}

main .sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .dropdown {
  background-color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  border-radius: 50px;
  padding: 0 15px;
  outline: none;
  border: none;
  box-shadow: 0 10px 10px #00000005;
  appearance: none;
}
.select-wrapper {
  position: relative;
}
.select-wrapper:after {
  content: '';
  height: 15px;
  width: 15px;
  background-image: url(/src/dropdown.svg);
  background-repeat: no-repeat;
  /* background-position: center; */
  position: absolute;
  top: 17px;
  right: 12px;
  z-index: 5;
  pointer-events: none;
}

/* Graphs */
main .graph {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 10px 10px #00000005;
}

main .graphHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

main .graph1 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main .graph1 .container {
  display: flex;
  flex-grow: 1;
}

main .graph1 .chartContainer {
  flex: 70% 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 57%;
}

main .graph1 .chartDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

main .graph1 .iconContainer {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.graph1 .chartDetailsRow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 0 20px;
}

.graph1 .chartDetailsRow h2 {
  font-size: 18px;
  line-height: 26px;
}

.graph1 .chartDetailsRow p {
  color: #112650;
  font-size: 12px;
}

.graph1 .chartDetailsRow pre {
  font-size: 14px;
  align-self: flex-start;
  margin-top: 5px;
}

.graph1 .chartDetailsRow i {
  height: 38px;
  width: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.graph1 .chartDetailsRow i svg {
  margin-right: -3px;
}

main .chartContainer {
  padding: 15px 0;
  max-width: 40%;
  margin: auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
}

main .graph2 .chartContainer {
  max-width: 40%;
}

main .graph2 .chartContainer::before {
  content: '68%';
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .graph2 {
  flex: 46%;
  display: flex;
  flex-direction: column;
}

main .graph2 .chartDetails {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 30px;
  font-size: 14px;
}

.graph2 .chartDetails p::before {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
}

.graph2 .container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.graph2 .chartDetails p:first-child::before {
  background-color: #41c8e6;
}

.graph2 .chartDetails p:last-child::before {
  background-color: #ab87d1;
}

main .graph3 {
  background-color: unset;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 54%;
}

main .graph3 .boxContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.box {
  flex-grow: 1;
  display: flex;
  padding: 10px 15px !important;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.box img {
  width: 15%;
}
.boxContainer .box h4 {
  font-size: 18px;
}
.boxContainer .box p {
  opacity: 0.7;
  font-size: 14px;
  line-height: 16px;
}

.box .categoryDetails {
  width: 50%;
}

.optionsTable {
  position: absolute;
  top: 130%;
  right: 0px;
  display: none;
  box-shadow: 0 0 5px #a1a1a1;
  background-color: #f3f3f3;
  padding: 8px;
  border-radius: 5px;
  font-size: 14px;
  width: 150px;
  z-index: 9999;
}

.optionsTable p {
  border-bottom: 1px solid #11265050;
  display: block;
  line-height: 25px;
}
.optionsTable p:last-child {
  border-bottom: none;
}

img,
p,
h1,
h2,
h3,
h4 {
  user-select: none;
}

.optionsVisible {
  display: block;
}

.author {
  position: fixed;
  bottom: 80px;
  right: -55px;
  font-size: 12px;
  background-color: rgb(255, 183, 142);
  padding: 0 20px;
  transform: rotate(-90deg);
  border-top-right-radius: 25px 30px;
  border-top-left-radius: 25px 30px;
}

.menuBtn svg path {
  stroke: #112650;
}

/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
/* Responsive */
@media (max-width: 450px) {
  .App {
    display: block;
    height: 100%;
  }
  .sidebar {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    transform: translateX(-100vw);
  }

  .sidebar .download {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* MAIN */
  .menuBtn {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    padding: 9px;
    border: none;
    background-color: unset;
  }

  .menuBtn svg path {
    stroke: #112650;
  }

  main {
    padding: 15px;
  }

  main header > div {
    display: flex;
    flex-grow: 1;
  }

  main header .search {
    flex-grow: 1;
  }

  main header .search input {
    line-height: 25px;
    font-size: 14px;
    width: 170px;
    flex-grow: 1;
  }

  /* Profile */
  .profile {
    height: auto !important;
    padding: 30px !important;
  }

  .profile .profileHeader {
    margin-bottom: 30px;
  }

  .profile .profileReputation > h3 {
    margin-top: 20px;
  }

  .profile .profileReputation > img {
    margin-top: 20px;
  }

  .profile .profileStore .storeImg {
    height: 150px;
    /* margin-top: 20px; */
  }

  /* Main */
  main {
    gap: 25px;
    padding-bottom: 40px;
  }
  main section {
    gap: 25px;
    max-height: none;
  }

  main .sectionHeader h2 {
    font-size: 22px;
  }

  /* graphs */
  main section .graph.graph3 .graphHeader {
    margin-left: 20px;
    margin-right: 20px;
  }

  main .graph2 .chartContainer {
    max-width: 60% !important;
  }

  main .graph1 .container {
    flex-direction: column;
  }

  main .graph1 .chartContainer {
    max-width: 98% !important;
  }

  .graph1 .chartDetails {
    margin: 15px 0 15px -10px;
  }

  .graph2 .chartDetails p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .chartPlaceholder {
    height: 300px;
  }

  /* category */
  main .boxContainer .box p {
    font-size: 14px;
  }

  main .box {
    padding: 20px !important;
  }

  main div.row:last-child {
    flex-direction: column !important;
    gap: 25px;
  }
}

@media (min-height: 700px) and (max-width: 1440px) {
  main .graph2 .chartContainer {
    max-width: 55%;
  }

  main .graph1 .chartContainer {
    max-width: 65%;
  }
}

@media (max-width: 1120px) and (min-width: 800px) {
  .App {
    display: block;
    height: 100%;
  }

  .sidebar {
    position: fixed;
    width: 25%;
    height: 100vh;
    box-shadow: 0 0 10px #00000015;
  }
  main {
    margin-left: auto;
    width: 75%;
  }

  .profile {
    margin-left: auto;
    padding: 25px !important;
    width: 75%;
    max-width: unset !important;
  }

  .profileContainer {
    height: 100% !important;
  }
  .profile > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .profileReputation {
    height: 100% !important;
    justify-content: flex-start !important;
  }

  .profileReputation > img {
    margin-top: 20px !important;
  }
}

@media (max-width: 799px) and (min-width: 600px) {
  .App {
    display: block;
    height: 100%;
  }
  .sidebar {
    position: fixed;
    overflow: hidden;
    height: 100%;
    transform: translateX(-100vw);
    box-shadow: 0 0 300px #00000050;
  }

  .menuBtn {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    padding: 9px;
    border: none;
    background-color: unset;
  }
  .closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile {
    padding: 30px !important;
    max-width: unset !important;
  }

  .profileContainer {
    height: 100% !important;
  }
  .profile > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .profileReputation {
    height: 100% !important;
    justify-content: flex-start !important;
  }

  .profileReputation > img {
    margin-top: 20px !important;
  }
}

@media (max-width: 599px) and (min-width: 451px) {
  .App {
    display: block;
    height: 100%;
  }
  .sidebar {
    position: fixed;
    overflow: hidden;
    height: 100%;
    transform: translateX(-100vw);
    box-shadow: 0 0 300px #00000050;
  }

  .closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* MAIN */
  .menuBtn {
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    padding: 9px;
    border: none;
    background-color: unset;
  }

  main {
    padding: 25px;
  }

  main header > div {
    display: flex;
    flex-grow: 1;
  }

  main header .search {
    flex-grow: 1;
  }

  main header .search input {
    width: 170px;
    flex-grow: 1;
  }

  /* Profile */
  .profile {
    height: auto !important;
    padding: 30px !important;
    max-width: 100% !important;
  }

  .profile .profileHeader {
    margin-bottom: 30px;
  }

  .profile .profileReputation > h3 {
    margin-top: 20px;
  }

  .profile .profileReputation > img {
    margin-top: 20px;
  }

  .profile .profileStore .storeImg {
    height: 150px;
    /* margin-top: 20px; */
  }

  /* Main */
  main {
    gap: 25px;
    padding-bottom: 40px;
  }
  main section {
    gap: 25px;
    max-height: none;
  }

  main .sectionHeader h2 {
    font-size: 22px;
  }

  /* graphs */
  main section .graph.graph3 .graphHeader {
    margin-left: 20px;
    margin-right: 20px;
  }

  main .graph1 .chartContainer {
    width: 100%;
  }

  main .graph1 .chartDetails {
    flex-direction: row;
  }

  .graph1 .chartDetailsRow {
    padding: 10px 0;
  }

  .graph2 .container {
    flex-direction: row;
  }

  main .graph2 .chartContainer {
    max-width: 30% !important;
  }

  main .graph1 .container {
    flex-direction: column;
  }

  main .graph1 .chartContainer {
    max-width: 98% !important;
  }

  .graph1 .chartDetails {
    margin: 15px 0 15px -10px;
  }
  .graph2 .chartDetails {
    flex-direction: column;
    gap: 5px !important;
    /* justify-content: flex-start !important; */
    margin: auto auto auto 0 !important;
  }
  .graph2 .chartDetails p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .chartPlaceholder {
    height: 300px;
  }

  /* category */
  main .boxContainer .box p {
    font-size: 14px;
  }

  main .box {
    padding: 20px !important;
  }

  main div.row:last-child {
    flex-direction: column !important;
    gap: 25px;
  }
}
